{{- $isWsl := or (env "WSL_DISTRO_NAME") (env "IS_WSL") | not | not -}}
{{- $isDevcontainer := or (env "REMOTE_CONTAINERS") (env "CODESPACES") (env "VSCODE_REMOTE_CONTAINERS_SESSION") | not | not -}}
{{- $isGnome := lookPath "gnome-shell" | not | not -}}
{{- $hasHomeGPG := stat (joinPath .chezmoi.homeDir ".gnupg/private-keys-v1.d" ) -}}
{{- $headlessGuess := ( or $isWsl (not ( len ( env "DISPLAY" ) ) ) ) -}}
{{- $gpgconfiguredGuess := $hasHomeGPG -}}
{{- $headless := promptBool "headless" $headlessGuess -}}
{{- $gpgconfigured := promptBool "gpgconfigured" $gpgconfiguredGuess -}}
{{- $autoGit := promptBool "auto git?" true -}}

[git]
    autoCommit = {{ $autoGit }}
    autoPush = {{ $autoGit }}

[data]
        headless={{ $headless }}
        gpgconfigured={{ $gpgconfigured }}
        isWsl={{ $isWsl }}
        isDevcontainer={{ $isDevcontainer }}
        isGnome={{ $isGnome }}

#{{ if eq .chezmoi.os "darwin" }} Darwin
        optbins = []
        usrbins = []
        usrlocalbins = []
        binroots = [ "/", "/usr/", "{{ .chezmoi.homeDir }}", "{{ joinPath .chezmoi.homeDir "/.local" }}", "{{ joinPath .chezmoi.homeDir "/go" }}" ]
        terminfosearch = [ "/usr/share/terminfo", "/usr/lib/share/terminfo", "/usr/share/lib/terminfo" ]
        termfallback = [ "xterm", "linux", "vt100" ]
#{{ else if eq .chezmoi.os "linux" }} Linux
        optbins = []
        usrbins = ["games"]
        usrlocalbins = []
        binroots = [ "/", "/usr/", "{{ .chezmoi.homeDir }}", "{{ joinPath .chezmoi.homeDir "/.local" }}", "{{ joinPath .chezmoi.homeDir "/go" }}" ]
        terminfosearch = [ "/usr/share/terminfo", "/usr/lib/share/terminfo", "/usr/share/lib/terminfo" ]
        termfallback = [ "rxvt", "xterm", "linux", "vt100" ]
#{{ else if eq .chezmoi.os "windows" }} Windows
        optbins = []
        usrbins = []
        usrlocalbins = []
        binroots = [ ]
        terminfosearch = [ ]
        termfallback = [ "linux", "vt100" ]
#{{ else if eq .chezmoi.os "solaris" }} Solaris
        optbins = [ "httrack", "SUNWsneep", "test", "VRTSvxvm", "SUNWvts", "SUNWexplo", "VRTS", "VRTSob" ]
        usrbins = [ "local", "sfw", "ccs" ]
        usrlocalbins = [ "mysql", "apache", "apache2", "php" ]
        binroots = [ "/", "/usr/", "{{ .chezmoi.homeDir }}", "{{ joinPath .chezmoi.homeDir "/.local" }}", "{{ joinPath .chezmoi.homeDir "/go" }}" ]
        terminfosearch = [ "/usr/share/terminfo", "/usr/lib/share/terminfo", "/usr/share/lib/terminfo" ]
        termfallback = [ "xterm", "linux", "vt100" ]
#{{ else }} Unknown OS {{ .chezmoi.os }}
        optbins = []
        usrbins = []
        usrlocalbins = []
        binroots = [  ]
        terminfosearch = [ ]
        termfallback = [ "linux", "vt100" ]
#{{ end }} End OS Specific code
