
{{- $diffTool := "" -}}
{{- $mergeTool := "" -}}
{{- $editTool := "" -}}
{{- $pagerTool := index . "gitPagerLocation" -}}

[user]
  name = {{ index . "gitUserName" }}
  email = {{ index . "gitUserEmail" }}
  useConfigOnly = true
[init]
  defaultBranch = main
{{- if stat (joinPath .chezmoi.homeDir ".config/git/template") }}
  templateDir = ~/.config/git/template
{{- end }}
[core]
  autocrlf = input
{{- if eq .chezmoi.os "windows" }}
  {{- if stat (index . "notepadppLocation") }}
  editor = {{ index . "notepadppLocation" }}
  {{- else if stat (index . "gvimLocation") }}
  editor = {{ index . "gvimLocation" }}
  {{- else if stat (index . "vscodeLocation") }}
  editor = {{ index . "vscodeLocation" }} --wait
  {{- else if stat (index . "intellijLocation") }}
  editor = {{ index . "intellijLocation" }}
  {{- else if stat (index . "notepadLocation") }}
  editor = {{ index . "notepadLocation" }}
  {{- else }}
  editor = notepad
  {{- end }}
{{- else }}
  editor = {{ $editTool }}
{{- end }}
  excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
  longpaths = true
  # quotepath = false # Unicode characters
{{- if ne $pagerTool "" }}
    pager = {{ $pagerTool }}
{{- end }}

[rerere]
  enabled = 1

[credential "https://github.com"]
  useHttpPath = true

[credential]
{{ $oauthHelper := (index . "gitCredentialOAuthLocation") }}
{{ if ne $oauthHelper "" }}
  helper = cache --timeout 5184000 # 60 days
  {{ if index . "headless" }}
  helper = oauth -device
  {{ else }}
  helper = oauth
  {{ end }}
{{ end }}
{{ if index . "headless" }}
        credentialStore = cache
        cacheOptions = "--timeout 5184000"
        helper = {{ index $ "gitCredentialManagerLocation" }}
{{ else if eq .chezmoi.os "linux" }}
  {{ if eq .chezmoi.osRelease.id "ubuntu" }}
         credentialStore = secretservice
         helper = {{ index $ "gitCredentialManagerLocation" }}
  {{ else if eq .chezmoi.osRelease.id "gentoo" }}
         credentialStore = secretservice
         helper = {{ index $ "gitCredentialManagerLocation" }}
  {{ end}}
{{ else }}
  helper = manager
{{ end }}

[credential "https://dev.azure.com"]
   useHttpPath = true

[credential "https://git.assembla.com"]
  useHttpPath = true
{{ if eq .chezmoi.os "windows" }}
[gpg]
  program = "{{ index . "gpgLocation" }}"
{{ end }}

[credential "https://source.developers.google.com"]
    provider = generic

[credential "https://gitlab.arran.net.au"]
  gitLabAuthModes = pat
  # oauthClientId = {{/* (ejsonDecrypt "private_gitlab_oauth.ejson").gitlab_oauth_client_id */}}

{{ if ne .chezmoi.os "windows" }}
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto

[color "branch"]
  current = green
  remote = yellow

{{ end }}

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true
  # Should probably use a script to select here.
{{- if eq $mergeTool "delta" }}
    conflictstyle = zdiff3
{{- else if ne $mergeTool "" }}
    conflictstyle = diff3 # show original content before conflicts
{{- else }}
  tool = {{ $mergeTool }}
{{- end }}

[mergetool "kdiff3"]
    trustExitCode = false

{{ if eq .chezmoi.os "darwin" }}
[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
{{end}}

[diff]
  tool = {{ $diffTool }}
  colorMoved = default

[difftool]
  prompt = true

[difftool "kdiff3"]
    trustExitCode = false

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE
[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[commit]
{{ if index . "gpgconfigured" }}
  gpgsign = true
{{ end }}
{{- if stat (joinPath .chezmoi.homeDir ".config/git/message") }}
  template = ~/.config/git/message
{{- end }}
  status = true

[tag]
{{ if index . "gpgconfigured" }}
  gpgsign = true
{{ end }}
{{- if stat (joinPath .chezmoi.homeDir ".config/git/tagmessage") }}
  template = ~/.config/git/tagmessage
{{- end }}

[push]
{{ if index . "gpgconfigured" }}
  gpgsign = if-asked
{{ end }}
    followTags = true

[alias]
  #via http://stackoverflow.com/questions/5188320/how-can-i-get-a-list-of-git-branches-ordered-by-most-recent-commit
  recent-branches = !git for-each-ref --count=15 --sort=-committerdate refs/heads/ --format='%(refname:short)'

#[include]
#  path = ~/.gitconfig.local # Allow for local overrides

[grep]
  lineNumber = true
  patternType = extended

[man]
  viewer = less

[delta]
    navigate = true

[interactive "delta"]
    diffFilter = delta --color-only

[http]
  cookiefile = ~/.cache/git/cookies

[status]
  submodulesummary = true

[advice]
  statusHints = false
