#!/bin/bash

# TODO consider
#if [ -f /etc/profile ]; then
#  . /etc/profile
#fi

# History options
export HISTFILE=$HOME/.bash_history
# for setting history length see HISTSIZE and HISTFILESIZE in bash(1)
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
export SAVEHIST=99999
export HISTFILESIZE=99999

# don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
HISTCONTROL=ignoreboth
# append to the history file, don't overwrite it
shopt -s histappend
# Save multi-line commands as one command
shopt -s cmdhist
# Don't put duplicate lines or lines starting with space in the history.
# See bash(1) for more options
export HISTCONTROL=erasedups:ignoreboth
# Useful timestamp format
export HISTTIMEFORMAT='%F %T '

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

# Key bindings
set -o vi
bind '"^R":"history-incremental-search-backward"'

# Tab completion changes
##uncomment the following to activate bash-completion:
#[ -f /etc/profile.d/bash-completion ] && source /etc/profile.d/bash-completion
# enable programmable completion features (you don't need to enable
# this, if it's already enabled in /etc/bash.bashrc and /etc/profile
# sources /etc/bash.bashrc).
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    . /etc/bash_completion
  fi
fi

{{ template "prompt.tmpl" deepCopy $ | merge (dict "shell" "bash") }}

{{ template "dev-utils-env.tmpl" $ }}

# Helper stuff

# check the window size after each command and, if necessary,
# update the values of LINES and COLUMNS.
shopt -s checkwinsize

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

# If set, the pattern "**" used in a pathname expansion context will
# match all files and zero or more directories and subdirectories.
#shopt -s globstar

{{ template "shell-aliases.tmpl" $ }}

#{{ if eq .chezmoi.os "darwin" }} Darwin
#{{ else if eq .chezmoi.os "linux" }} Linux
#{{ else if eq .chezmoi.os "windows" }} Windows
#{{ end }} End OS Specific code


{{ template "shell-term-env.tmpl" $ }}

{{ template "shell-man-env.tmpl" $ }}

# Other program envs
{{ template "common-misc-env.tmpl" $ }}

{{ template "atuin.tmpl" deepCopy $ | merge (dict "shell" "bash") }}

# OS Specific
#{{ if eq .chezmoi.os "darwin" }} Darwin
#	{{- if stat "/usr/local/etc/bash_completion.d/git-completion.bash" }} Git bash completion usr local - home brew
GIT_COMPLETION_PATH="/usr/local/etc/bash_completion.d/git-completion.bash"
#	{{- end }}
#{{ else if eq .chezmoi.os "linux" }} Linux
#{{ else if eq .chezmoi.os "windows" }} Windows
#{{ else if eq .chezmoi.os "solaris" }} Solaris -- Been a while
#{{ end }} End OS Specific code

{{ template "path-setting.tmpl" $ }}

{{ template "dev-utils-env.tmpl" $ }}

# TODO chezmoi'd a bit more
if test -f /usr/share/bash-completion/bash_completion; then
	. /usr/share/bash-completion/bash_completion
elif test -f /etc/bash_completion; then
	. /etc/bash_completion
elif test -f /run/current-system/profile/etc/profile.d/bash_completion.sh; then
	. /run/current-system/profile/etc/profile.d/bash_completion.sh
fi

return # This prevents scripts which append their own installers from "working"
{{/* vim: set filetype=bash: */}}
