#!/bin/zsh

# History options
export HISTSIZE=99999999
export HISTFILE=$HOME/.zsh_history
export SAVEHIST=99999999
setopt append_history
setopt inc_append_history
setopt HIST_VERIFY

# Key bindings
bindkey -v
bindkey "^R" history-incremental-search-backward

# Tab completion changes
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle :compinstall filename "${HOME}/.zshrc"

# Prompts
export SPROMPT="Potential spelling error %R , could be %r"
export PROMPT="%d\n %(!.%S%n%s.%n)@%m %h%# "
if test "$SHLVL" -gt 1; then 
	export PROMPT="%d\n %(!.%S%n%s.%n)@%m %h%#${SHLVL} "
fi

setopt interactivecomments       # Enable comments in interactive mode (useful)
#setopt extended_glob             # More powerful glob features

autoload -Uz compinit
compinit

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Colours and aliases
autoload -U colors && colors
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
export CLICOLOR=1
export LSCOLORS=ExFxCxDxBxegedabagacad


# Get week number
alias week='date +%V'

# M2 nav
alias pushd_m2='pushd ~/.m2/'

#{{ if eq .chezmoi.os "darwin" }} Darwin
#{{ if stat (joinPath .chezmoi.homeDir ".pyenv") }}
## ~/.pyenv exists
#{{ end }}

#{{ else if eq .chezmoi.os "linux" }} Linux
#{{ else if eq .chezmoi.os "windows" }} Windows
#{{ end -}} End

