#!/bin/bash

{{ template "shell-login-common.tmpl" deepCopy $ | merge (dict "shell" "bash") }}

# From https://github.com/jordansissel/dotfiles/blob/master/.bash_profile
# Exec zsh if it exists.
{{- $zshLocation := index . "zshLocation" -}}
{{- if stat $zshLocation -}}
echo "zsh found on system"
{{- else -}}
echo "No zsh found, sorry I couldn't save you..."
{{- end -}}

# SSH Agent if required
