#!/bin/zsh

# History options
export HISTSIZE=99999999
export HISTFILE=$HOME/.zsh_history
export SAVEHIST=99999999
setopt append_history
setopt inc_append_history
setopt HIST_VERIFY

# Key bindings
bindkey -v
bindkey "^R" history-incremental-search-backward

# Tab completion changes
zstyle ':completion:*' completer _expand _complete _correct _approximate
zstyle :compinstall filename "${HOME}/.zshrc"

# Prompts
export SPROMPT="Potential spelling error %R , could be %r"

ctx=""
if test "$SHLVL" -gt 1; then 
	ctx="${ctx}:${SHLVL}"
fi
export PROMPT="%(\\!.%S%n%s.%n)@%m:%d${ctx} %h"$'\n'"%# "
unset ctx

# Helper stuff

setopt interactivecomments       # Enable comments in interactive mode (useful)
#setopt extended_glob             # More powerful glob features

# make less more friendly for non-text input files, see lesspipe(1)
[ -x /usr/bin/lesspipe ] && eval "$(SHELL=/bin/sh lesspipe)"

autoload -Uz compinit
compinit

# Colours and aliases
autoload -U colors && colors
if [ -x /usr/bin/dircolors ]; then
	color_prompt=yes

    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'
    alias ll='ls -alF'
    alias la='ls -A'
    alias l='ls -CF'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'

    export CLICOLOR=1
    export LSCOLORS=ExFxCxDxBxegedabagacad
fi


# Get week number
alias week='date +%V'

# M2 nav
alias pushd_m2='pushd ~/.m2/'

#{{ if eq .chezmoi.os "darwin" }} Darwin
#{{ else if eq .chezmoi.os "linux" }} Linux
#{{ else if eq .chezmoi.os "windows" }} Windows
#{{ end }} End OS Specific code


# Terminfo Path discovery
{{range $i, $p := ( index $ "terminfosearch" ) -}} 
	{{- if stat $p -}}if [ -e "{{$p}}" ]; then
	export TERMINFO="{{$p}}"
el
	{{- end -}} 
{{- end }}se
fi


# TERM fallback discovery
if [ -e "$TERMINFO" ] && [ ! "$TERMINFO/$TERM[0]/$TERM" ]; then
	{{range $i, $p := ( index $ "termfallback" ) -}} 
		if [ -e "${TERMINFO}}/{{printf "%c" ( index $p 0 ) }}/{{$p}}" ]; then
		export TERM="{{$p}}"
	el	
	{{- end }}se
	fi
fi

# TODO oneday Manpage path discovery

return # This prevents scripts which append their own installers from "working"
