[user]
	name = arran
[core]
	autocrlf = true
	editor = vim
[credential "https://github.com"]
	useHttpPath = true
[credential]
{{ if index . "headless" }}
	credentialStore = cache
{{ end }}
	helper = manager-core

{{ if ne .chezmoi.os "windows" }}
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
  
[color "branch"]
  current = green
  remote = yellow
{{ end }}

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

[commit]
{{ if index . "gpgconfigured" }}
	gpgsign = true
{{ end }}

{{/* if stat (joinPath .chezmoi.homeDir ".gnupg") */}}
