#!/bin/zsh

# Make vim the default editor.
export EDITOR='vim';

export WATCHFMT="%D %T %n@%l.%M %a"
export WATCH=root

export VISUAL=/usr/bin/vim
# export MAVEN_OPTS="-Xmx768m -XX:MaxPermSize=512M"

