#!/bin/bash

# If not running interactively, don't do anything
case $- in
    *i*) ;;
      *) return;;
esac

{{ template "prompt.tmpl" deepCopy $ | merge (dict "shell" "bash") }}

{{ template "gpg-tty.tmpl" deepCopy $ | merge (dict "shell" "bash") }}
