#!/bin/ksh

{{ template "prompt.tmpl" deepCopy $ | merge (dict "shell" "ksh") }}

{{ template "shell-aliases.tmpl" $ }}

export VISUAL=vi
if [ -d "$HOME/.local/bin" ]; then
  export PATH=$PATH:$HOME/.local/bin
fi
if [ -d "$HOME/bin" ]; then
  export PATH=$PATH:$HOME/bin
fi
alias d="ls --color"

