[Unit]
Description=Rotate Caelestia wallpaper hourly
ConditionHost=|x1linux
ConditionHost=|x1laptop

[Timer]
OnStartupSec=5min
OnUnitActiveSec=1h
Unit=caelestia-wallpaper-rotate.service

[Install]
WantedBy=timers.target
