# Template variables
{{- $launcher := "" -}}
{{- if ne .rofiLocation "" -}}
  {{- $launcher = printf "%s -show combi -modes combi -combi-modes \"window,drun,run\"" .rofiLocation -}}
{{- else if ne .wofiLocation "" -}}
  {{- $launcher = printf "%s --show drun" .wofiLocation -}}
{{- else if ne .dmenuRunLocation "" -}}
  {{- $launcher = .dmenuRunLocation -}}
{{- end -}}

{{- $lockcmd := "" -}}
{{- if ne .swaylockLocation "" -}}
  {{- $lockcmd = .swaylockLocation -}}
{{- else if ne .xscreensaverCommandLocation "" -}}
  {{- $lockcmd = printf "%s -lock" .xscreensaverCommandLocation -}}
{{- else if ne .xscreensaverLocation "" -}}
  {{- $lockcmd = .xscreensaverLocation -}}
{{- end -}}

{{- $clipse := .clipse -}}

{{- $terminal := "" -}}
{{- if ne .terminatorLocation "" -}}
  {{- $terminal = .terminatorLocation -}}
{{- else if ne .konsoleLocation "" -}}
  {{- $terminal = .konsoleLocation -}}
{{- else if ne .alacrittyLocation "" -}}
  {{- $terminal = .alacrittyLocation -}}
{{- else if ne .urxvtLocation "" -}}
  {{- $terminal = .urxvtLocation -}}
{{- else if ne .xtermLocation "" -}}
  {{- $terminal = .xtermLocation -}}
{{- end -}}

{{- $popupTerm := "" -}}
{{- if ne .alacrittyLocation "" -}}
  {{- $popupTerm = .alacrittyLocation -}}
{{- else if ne .urxvtLocation "" -}}
  {{- $popupTerm = .urxvtLocation -}}
{{- else if ne .xtermLocation "" -}}
  {{- $popupTerm = .xtermLocation -}}
{{- end -}}
{{- $anytype := .anytypeLocation -}}

# ------------------------
# Monitors (customize names + positions)
# ------------------------
# monitor=<name>,<res>@<refresh>,<pos_x>x<pos_y>,<scale>
monitor=HDMI-A-1,3840x2160@60,0x0,1

# ------------------------
# General Settings
# ------------------------
general {
    gaps_in = 10                          # inner gaps
    gaps_out = 15                         # outer gaps
    border_size = 2                       # window border width
    col.active_border = rgba(135affcc)    # active window border color
    col.inactive_border = rgba(323232cc)  # inactive window border
    layout = dwindle                      # bsp-like tiling
}

env = LIBVA_DRIVER_NAME,nvidia
env = XDG_SESSION_TYPE,wayland
env = GBM_BACKEND,nvidia-drm
env = __GLX_VENDOR_LIBRARY_NAME,nvidia

cursor {
    no_hardware_cursors = true
}

# ------------------------
# Decoration & Animation
# ------------------------
decoration {
    rounding = 8
    #blur = yes
    #blur_size = 12
    #drop_shadow = yes
    #shadow_range = 18
    #shadow_render_power = 4
}

animations {
    enabled = yes
    animation = windows, 1, 4, default
    animation = fade, 1, 3, default
    animation = specialWorkspace, 1, 4, default, slidefade, top
}

# ------------------------
# Input & Gestures
# ------------------------
input {
    kb_layout = us
    repeat_delay = 250
    repeat_rate = 30
}
gestures {
    workspace_swipe = on
}

# ------------------------
# Keybindings
# ------------------------
# Terminal launch: Ctrl+Meta+T
bind = CTRL SUPER_L, T, exec, {{$terminal}}
#bind = CTRL SUPER_R, T, exec, {{$terminal}}
# Terminal as alternate: Meta+Return
bind = SUPER_L, RETURN, exec, {{$terminal}}
#bind = SUPER_R, RETURN, exec, {{$terminal}}
bind = SUPER_L, SPACE, exec, {{$launcher}}
#bind = SUPER_R, SPACE, exec, {{$launcher}}
# Clipboard history: Meta+V
bind = SUPER_L, V, exec, [float; focuswindow] {{$popupTerm}} -e "{{$clipse}}"
#bind = SUPER_R, V, exec, [float; focuswindow] {{$popupTerm}} -e "{{$clipse}}"
# Windows
bind = SUPER_L SHIFT, Q, killactive
bind = SUPER_L SHIFT, W, closewindow
bind = SUPER_L, F, fullscreen
#bind = SUPER_R, F, fullscreen
bind = SUPER_L, 0, workspace, empty
#bind = SUPER_R, 0, workspace, empty
bind = SUPER_L, 1, workspace, 1
#bind = SUPER_R, 1, workspace, 1
bind = SUPER_L, 2, workspace, 2
#bind = SUPER_R, 2, workspace, 2
bind = SUPER_L, 3, workspace, 3
#bind = SUPER_R, 3, workspace, 3
bind = SUPER_L, 4, workspace, 4
#bind = SUPER_R, 4, workspace, 4
bind = SUPER_L, 5, workspace, 5
#bind = SUPER_R, 5, workspace, 5
bind = SUPER_L, 5, workspace, 5
#bind = SUPER_R, 5, workspace, 5
bind = SUPER_L, 6, workspace, 6
#bind = SUPER_R, 6, workspace, 6
bind = SUPER_L, 7, workspace, 7
#bind = SUPER_R, 7, workspace, 7
bind = SUPER_L, 8, workspace, 8
#bind = SUPER_R, 8, workspace, 8
bind = SUPER_L, 9, workspace, 9
#bind = SUPER_R, 9, workspace, 9
bind = SUPER_L, m, togglespecialworkspace, music
#bind = SUPER_R, m, togglespecialworkspace, music
bind = SUPER_L, grave, togglespecialworkspace, terminal
#bind = SUPER_R, grave, togglespecialworkspace, terminal
bind = SUPER_L, T, togglespecialworkspace, terminal
#bind = SUPER_R, T, togglespecialworkspace, terminal
bind = SUPER_L, P, togglespecialworkspace, anytype
#bind = SUPER_R, P, togglespecialworkspace, anytype
bind = SUPER_L CTRL, LEFT, workspace, -1
#bind = SUPER_R CTRL, LEFT, workspace, -1
bind = SUPER_L CTRL, RIGHT, workspace, +1
#bind = SUPER_R CTRL, RIGHT, workspace, +1
bind = SUPER_L SHIFT CTRL, LEFT, movetoworkspace, -1
#bind = SUPER_R SHIFT CTRL, LEFT, movetoworkspace, -1
bind = SUPER_L SHIFT CTRL, RIGHT, movetoworkspace, +1
#bind = SUPER_R SHIFT CTRL, RIGHT, movetoworkspace, +1
bind = SUPER_L SHIFT, 0, movetoworkspace, empty
#bind = SUPER_R SHIFT, 0, movetoworkspace, empty
bind = SUPER_L SHIFT, 1, movetoworkspace, 1
#bind = SUPER_R SHIFT, 1, movetoworkspace, 1
bind = SUPER_L SHIFT, 2, movetoworkspace, 2
#bind = SUPER_R SHIFT, 2, movetoworkspace, 2
bind = SUPER_L SHIFT, 3, movetoworkspace, 3
#bind = SUPER_R SHIFT, 3, movetoworkspace, 3
bind = SUPER_L SHIFT, 4, movetoworkspace, 4
#bind = SUPER_R SHIFT, 4, movetoworkspace, 4
bind = SUPER_L SHIFT, 5, movetoworkspace, 5
#bind = SUPER_R SHIFT, 5, movetoworkspace, 5
bind = SUPER_L SHIFT, 6, movetoworkspace, 6
#bind = SUPER_R SHIFT, 6, movetoworkspace, 6
bind = SUPER_L SHIFT, 7, movetoworkspace, 7
#bind = SUPER_R SHIFT, 7, movetoworkspace, 7
bind = SUPER_L SHIFT, 8, movetoworkspace, 8
#bind = SUPER_R SHIFT, 8, movetoworkspace, 8
bind = SUPER_L SHIFT, 9, movetoworkspace, 9
#bind = SUPER_R SHIFT, 9, movetoworkspace, 9
bind = ALT,Tab,cyclenext,
bind = SUPER_L SHIFT, Tab, cyclenext, prev
bind = ALT,Tab,bringactivetotop,

# Screen shots
#ActiveWindowScreenShot=Meta+Print
#CurrentMonitorScreenShot=
#FullScreenScreenShot=Shift+Print
#OpenWithoutScreenshot=
#RecordRegion=Meta+Shift+R
#RecordScreen=Meta+Alt+R
#RecordWindow=Meta+Ctrl+R
#RectangularRegionScreenShot=Meta+Shift+Print
#WindowUnderCursorScreenShot=Meta+Ctrl+Print

#bind = META, PRINT, exec, spectacle -a -c
{{- if and (ne .grimLocation "") (ne .slurpLocation "") (ne .wlCopyLocation "") (ne .hyprpickerLocation "") -}}
  {{- if ne .hyprshotLocation "" -}}
bind = SUPER_L, PRINT, exec, hyprshot -m window
bind = SHIFT, PRINT, exec, hyprshot -m screen
bind = SUPER_L SHIFT, PRINT, exec, hyprshot -m region
bind = SUPER_L CTRL, PRINT, exec, hyprshot -m window
  {{- else -}}
bind = SUPER_L, PRINT, exec, grim -g "$(slurp -w)" - | wl-copy
bind = SHIFT, PRINT, exec, grim - | wl-copy
bind = SUPER_L SHIFT, PRINT, exec, grim -g "$(slurp)" - | wl-copy
bind = SUPER_L CTRL, PRINT, exec, grim -g "$(slurp -w)" - | wl-copy
  {{- end -}}
{{- end -}}

# Lock
#bind = SUPER_L, L, exec, swaylock
bind = SUPER_L, L, exec, {{$lockcmd}}
#bind = SUPER_R, L, exec, {{$lockcmd}}
# Media keys
binde=, XF86AudioRaiseVolume, exec, wpctl set-volume -l 1.5 @DEFAULT_AUDIO_SINK@ 1%+
bindl=, XF86AudioLowerVolume, exec, wpctl set-volume @DEFAULT_AUDIO_SINK@ 1%-
bindl=, XF86AudioMute, exec, wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle
# Requires playerctl
bindl=, XF86AudioPlay, exec, playerctl play-pause
bindl=, XF86AudioPrev, exec, playerctl previous
bindl=, XF86AudioNext, exec, playerctl next
## Mouse bindings
bindm=ALT,mouse:272,movewindow
bindm=ALT,mouse:273,resizewindow

# ------------------------
# Window Rules (float dialogs)
# ------------------------
#windowrule = float, ^(pavucontrol|blueman-manager)$
#windowrule = float, kitty

# ------------------------
# Workspace rules
# ------------------------
workspace = special:music, persistent:true
workspace = special:terminal, persistent:true
workspace = special:anytype, persistent:true
workspace = 1, persistent:true
workspace = 2, persistent:true
workspace = 3, persistent:true
workspace = 4, persistent:true
workspace = 5, persistent:true
workspace = 5, persistent:true
workspace = 6, persistent:true
workspace = 7, persistent:true
workspace = 8, persistent:true
workspace = 9, persistent:true

# ------------------------
# Autostart
# ------------------------
exec-once = mako
exec-once = waybar
exec-once = swaybg -m fill /usr/share/backgrounds/your-wallpaper.jpg
exec-once = dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP=hyprland
exec-once = {{$clipse}} -listen
exec-once = solaar -w hide
exec-once = kded6
exec-once = kdeconnect-indicator
#exec-once = [workspace special:music silent] flatpak run com.spotify.Client
windowrulev2 = workspace special:music, class:^(Spotify|spotify|org.spotify.Client|com.spotify.Client)$
#exec-once = [workspace special:terminal silent] {{$terminal}}
{{- if ne $anytype "" -}}
#exec-once = [workspace special:anytype silent] {{$anytype}}
{{- end -}}
windowrulev2 = workspace special:anytype, class:^(Anytype)$
