export WATCHFMT="%D %T %n@%l.%M %a"
export WATCH=root

{{if stat (index . "neovimLocation") -}}
	# Make neovim the default editor.
	export EDITOR='{{(index . "neovimLocation")}}'
	export VISUAL={{(index . "neovimLocation")}}
	export ALTERNATE_EDITOR=''
{{- else if stat (index . "vimLocation") -}}
	# Make vim the default editor.
	export EDITOR='{{(index . "vimLocation")}}'
	export VISUAL={{(index . "vimLocation")}}
	export ALTERNATE_EDITOR=''
{{- else -}}
	# No vim found!
{{- end }}

{{ if stat (index . "nvimpagerLocation") -}}
	# Pager IS less
	export PAGER={{(index . "nvimpagerLocation")}}
{{ else if stat (index . "vimpagerLocation") -}}
	# Pager IS less
	export PAGER={{(index . "vimpagerLocation")}}
{{ else if stat (index . "lessLocation") -}}
	# Pager IS less
	export PAGER={{(index . "lessLocation")}}
{{- else -}}
	# No less found!
{{- end }}

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi
