export WATCHFMT="%D %T %n@%l.%M %a"
export WATCH=root

{{if stat (index . "vimLocation") -}}
	# Make vim the default editor.
	export EDITOR='{{(index . "vimLocation")}}'
	export VISUAL={{(index . "vimLocation")}}
	export ALTERNATE_EDITOR=''
{{- else -}}
	# No vim found!
{{- end }}

{{ if stat (index . "manpagerLocation") -}}
	export MANPAGER='{{(index . "manpagerLocation")}}'
	# Pager IS less
	export PAGER={{(index . "lessLocation")}}
{{ else if stat (index . "lessLocation") -}}
	# Don’t clear the screen after quitting a manual page.
	export MANPAGER='{{(index . "lessLocation")}} -is -R -X'
	# Pager IS less
	export PAGER={{(index . "lessLocation")}}
{{- else -}}
	# No less found!
{{- end }}

# set variable identifying the chroot you work in (used in the prompt below)
if [ -z "${debian_chroot:-}" ] && [ -r /etc/debian_chroot ]; then
    debian_chroot=$(cat /etc/debian_chroot)
fi
