# Path discovery
# Always include the user's local bin directory
PATH="$HOME/.local/bin:$PATH"
# Path searching
{{- range $p := (index $ "paths") }}
if [ -d "{{ $p }}" ]; then
  PATH="${PATH}:{{ $p }}"
fi
{{- end }}
