# Path discovery
# Path searching
#{{- range $i, $p := ( index $ "binroots" ) }} Root bins
#	{{- if stat (joinPath $p "/bin") }} Adding {{ joinPath $p "/bin" }}
PATH="${PATH}:{{ joinPath $p "/bin" }}"
#	{{- end }}
#	{{- if stat (joinPath $p "/sbin") }} Adding {{ joinPath $p "/sbin" }}
PATH="${PATH}:{{ joinPath $p "/sbin" }}"
#	{{- end }}
#{{- end }}
#{{- range $i, $p := ( index $ "binroots" ) }} Root bins
#	{{- if stat (joinPath $p "/bin") }} Adding {{ joinPath $p "/bin" }}
PATH="${PATH}:{{ joinPath $p "/bin" }}"
#	{{- end }}
#{{- end }}
#{{- range $i, $p := ( index $ "optbins" ) }} Opt bins
#	{{- if stat (joinPath "/opt/" $p "/bin") }} Adding {{ joinPath "/opt/" $p "/bin" }}
PATH="${PATH}:{{ joinPath "/opt/" $p "/bin" }}"
#	{{- end }}
#{{- end }}
#{{- range $i, $p := ( index $ "usrbins" ) }} User bins
#	{{- if stat (joinPath "/usr/" $p "/bin") }} Adding {{ joinPath "/usr/" $p "/bin" }}
PATH="${PATH}:{{ joinPath "/usr/" $p "/bin" }}"
#	{{- end }}
#{{- end }}
#{{- range $i, $p := ( index $ "usrlocalbins" ) }} User bins
#	{{- if stat (joinPath "/usr/local/" $p "/bin") }} Adding {{ joinPath "/usr/local/" $p "/bin" }}
PATH="${PATH}:{{ joinPath "/usr/local/" $p "/bin" }}"
#	{{- end }}
#{{- end }} Done path discovery
