{{- $shell := index . "shell" -}}

{{- if eq $shell "fish" -}}
function fish_prompt
  set -l ctx ""
  if test -n "$TMUX"
    set ctx "tmux"
    if test $SHLVL -gt 2
      set ctx "$ctx:$SHLVL"
    end
  else if test $SHLVL -gt 1
    set ctx "$SHLVL"
  end
  if test -n "$ctx"
    set ctx "($ctx)"
  end

  set -l pchar "$"
  if test (id -u) -eq 0
    set pchar "#"
  end

  set -l histnum (math (history | count))
  printf "%s@%s:%s %s %s\n%s " $USER (hostname -s) (prompt_pwd) $histnum $ctx $pchar
end
{{- else if or (eq $shell "zsh") (eq $shell "bash") (eq $shell "ksh") (eq $shell "tcsh") -}}
ctx=""
if test -n "${TMUX}"; then
  ctx="tmux"
  if test "$SHLVL" -gt 2; then
    ctx="${ctx}:${SHLVL}"
  fi
else
  if test "$SHLVL" -gt 1; then
    ctx="${SHLVL}"
  fi
fi
if test -n "${ctx}"; then
  ctx="(${ctx})"
fi

pchar="$"
if test "$(id -u)" -eq 0; then
  pchar="#"
fi

  {{ if eq $shell "zsh" }}
  export SPROMPT="Potential spelling error %R , could be %r"
  export PROMPT='%n@%m:%~ %h '"${ctx}
${pchar} "
  {{- else if eq $shell "bash" }}
  export PS1='\u@\h:\w \! '"${ctx}\n${pchar} "
  {{- else if eq $shell "ksh" }}
  export PS1='${USER}@$(hostname -s):${PWD} ! '"${ctx}\n${pchar} "
  {{- else if eq $shell "tcsh" }}
  set prompt="%n@%m:%~ %h ${ctx}\n${pchar} "
  {{- end }}
unset ctx pchar
{{- else }}
# Unknown shell for prompt
{{- end }}
