{{- $shell := index . "shell" -}}

{{- if or (eq $shell "zsh") (eq $shell "bash") (eq $shell "ksh") (eq $shell "tcsh") -}}
ctx=""
if test -n "${TMUX}"; then
  ctx="tmux"
  if test "$SHLVL" -gt 2; then
    ctx="${ctx}:${SHLVL}"
  fi
else
  if test "$SHLVL" -gt 1; then
    ctx="${SHLVL}"
  fi
fi
if test -n "${ctx}"; then
  ctx="(${ctx})"
fi

pchar="$"
if test "$(id -u)" -eq 0; then
  pchar="#"
fi

  {{ if eq $shell "zsh" }}
export SPROMPT="Potential spelling error %R , could be %r"
export PROMPT='%n@%m:%~ '"${ctx}
${pchar} "
  {{- else if eq $shell "bash" }}
export PS1='\u@\h:\w '"${ctx}\n${pchar} "
  {{- else if eq $shell "ksh" }}
export PS1='${USER}@$(hostname -s):${PWD} '"${ctx}\n${pchar} "
  {{- else if eq $shell "tcsh" }}
set prompt="%n@%m:%~ ${ctx}\n${pchar} "
  {{- end }}
unset ctx pchar
{{- else }}
# Unknown shell for prompt
{{- end }}
