echo "System is `uname -a`"
echo "Term is $TERM"
echo "Shell is $SHELL"
echo "WHOAMI $USER@$HOST";
if [ -n "$SSH_CLIENT" ]; then 
	echo "Connecting from $SSH_CLIENT"
fi
if [ -n "$DISPLAY" ]; then 
	echo "Dispaly is set ${DISPLAY}"
fi
