# Terminfo Path discovery
{{- $terminfo := "" -}}
{{- range $p := (index $ "terminfosearch") -}}
  {{- if and (eq $terminfo "") (stat $p) -}}
    {{- $terminfo = $p -}}
  {{- end -}}
{{- end -}}
{{- if and (eq (index . "TERMINFO") "") (ne $terminfo "") }}
export TERMINFO="{{ $terminfo }}"
{{- end }}

# TERM fallback discovery
{{- if ne $terminfo "" -}}
  {{- $fallback := "" -}}
  {{- range $t := (index $ "termfallback") -}}
    {{- if and (eq $fallback "") (stat (printf "%s/%c/%s" $terminfo (index $t 0) $t)) -}}
      {{- $fallback = $t -}}
    {{- end -}}
  {{- end -}}
  {{- if ne $fallback "" -}}
if [ ! -e "$TERMINFO/$(printf '%s' "$TERM" | cut -c1)/$TERM" ]; then
  export TERM="{{ $fallback }}"
fi
  {{- end -}}
{{- end -}}
