{{- /* Logic to find paths */ -}}
{{- $manpaths := list -}}
{{- range $path := (index . "paths") -}}
  {{- $candidates := list (joinPath $path "../share/man") (joinPath $path "../man") -}}
  {{- range $candidate := $candidates -}}
    {{- if stat $candidate -}}
      {{- $manpaths = append $manpaths $candidate -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- $manpaths = uniq $manpaths -}}
# Manpage path discovery
{{ if $manpaths -}}
export MANPATH="{{ range $p := $manpaths }}{{ $p }}:{{ end }}$MANPATH"
{{ end -}}

{{ if stat (index . "nvimpagerLocation") -}}
	if [ -x "${HOME}/.local/bin/manpager-nvimpager" ]; then
		export MANPAGER="${HOME}/.local/bin/manpager-nvimpager"
	else
		export MANPAGER="{{ index . "nvimpagerLocation" }}"
	fi
{{ else if stat (index . "vimpagerLocation") -}}
	export MANPAGER="{{ index . "vimpagerLocation" }}"
{{ else if stat (index . "lessLocation") -}}
	# Don’t clear the screen after quitting a manual page.
	export MANPAGER='{{ index . "lessLocation" }} -is -R -X'
{{- else -}}
	# No less found!
{{ end }}
