# Terminfo Path discovery
if [ ! -e "$TERMINFO" ]; then
	{{range $i, $p := ( index $ "terminfosearch" ) -}} 
		{{- if stat $p -}}if [ -e "{{$p}}" ]; then
		export TERMINFO="{{$p}}"
	el
		{{- end -}} 
	{{else}}if []; then echo -n; el{{- end }}se
		echo "No term path discovered"
	fi
fi

# TERM fallback discovery
if [ -e "$TERMINFO" ] && [ ! "$TERMINFO/$TERM[0]/$TERM" ]; then
	{{range $i, $p := ( index $ "termfallback" ) -}} 
		if [ -e "${TERMINFO}}/{{printf "%c" ( index $p 0 ) }}/{{$p}}" ]; then
		export TERM="{{$p}}"
	el	
	{{else}}if []; then echo -n; el{{- end }}se
		echo "No term discovered"
	fi
fi
