if test -e /etc/motd; then
	if ! cmp -s ${HOME}/.old_motd /etc/motd ; then
		tee ${HOME}/.old_motd < /etc/motd;
	fi
fi
echo "{{(index . "shell")}} {{.shell}}"
{{ if eq (index . "shell") "zsh" }}
echo "ZSH version is $ZSH_VERSION."
{{else if eq (index . "shell") "bash" }}
echo "BASH version is $BASH_VERSION."
{{else}}
echo "Unknown shell"
{{end}}

echo "System is `uname -a`"
echo "Term is $TERM"
echo "Shell is $SHELL"
echo "WHOAMI $USER@$HOST";
if [ -n "$SSH_CLIENT" ]; then 
	echo "Connecting from $SSH_CLIENT"
fi
if [ -n "$DISPLAY" ]; then 
	echo "Dispaly is set ${DISPLAY}"
fi
